p {
    margin: 0;
    padding: 0;
}

/* Background color for the body */
.background {
    background-color: #725e5e; /* Change as needed */
}

/* Styling the header */
.header {
    background-color: #333; /* Change header background color */
    color: #fff; /* Change header text color */
    padding: 20px;
}

/* Container styles */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer {
    background-color: #0f033d;
    color: white;
    text-align: center;
    padding: 1em;
    position: relative;
    bottom: 0;
    width: 100%;
    font-family: Poppins, sans-serif;
 
}


 .footer-div {
     display: flex;
     flex-direction: row;


 }

 .subfooter-div {

     width: 33.333333%;
 }

.logo img {
    width: 150px; /* Adjust logo width */
    height: auto;
}

.main-menu {
    list-style: none;
}

.main-menu li {
    display: inline;
    margin-right: 20px;
}

.main-menu li a {
    color: #fff; /* Change menu link color */
    text-decoration: none;
}
.diverse{
   background-color: rgb(255, 255, 255); 
   box-sizing: border-box;
   display: block;
   font-family:Poppins, sans-serif ;
   font-size: 14px;
}
.diverse h3{
    color: #725e5e;
    text-align: center;
}


