body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p {
    margin: 0;
    padding: 0;
}

/* Setting a background color for the body */
.background {
    background-color: #725e5e; /* Change this color as needed */
}

/* Styling the header */
.header {
    background-color: #333; /* Change header background color */
    color: #fff; /* Change header text color */
    padding: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 150px; /* Adjust the logo width as needed */
    height: auto;
}

.main-menu {
    list-style: none;
}

.main-menu li {
    display: inline;
    margin-right: 20px;
}

.main-menu li a {
    color: #fff; /* Change menu link color */
    text-decoration: none;
}

/* Styling the divisions */

.hero {
    background-color: rgb(74, 74, 141); /* Background color for hero section */
    color: #fff; /* Text color */
    text-align: center;
    padding: 100px 0;
}

.hero h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #725e5e;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.1em;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #e65100;
}

/* Enroll section styles */
.enroll-section {
    background-color: #f9f9f9; /* Background color for enroll section */
    padding: 50px 0;
    text-align: center;
}

.enroll-section h2 {
    margin-bottom: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.enroll-section p {
    font-size: 1.1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}